.list-container {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
}

.container {
    background-color: #e7f1f2;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    background: linear-gradient(0deg, #a3ecff 0%, #1ab4d5 35%, #647bf7 100%);
    background-position: center;
    background-size: cover;
    min-width: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container {
    height: 100vh;
}

.login-container {
    background-image: linear-gradient(0deg,
            #a3ecff 0%,
            #1ab4d5 35%,
            #647bf7 100%);
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    grid-area: 1 / 1 / 2 / 6;
    text-align: center;
}

.notifications {
    grid-area: 2 / 1 / 6 / 3;
}

.questionnaire {
    grid-area: 2 / 3 / 3 / 5;
}

.history {
    grid-area: 3 / 3 / 5 / 5;
}